@use "../../core/" as core;
@use "../../config" as *;

.header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: core.$bg-primary;
    min-height: 7rem;


    &__container {

        @include container($container-widths);
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 1rem;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);

        // REMOVE
        background-color: green;



        // end-block .container
    }
}

// &__logo {
//     /* flex-direction: column; */
//     display: flex;
//     justify-content: space-around;
//     align-items: center;
//     margin: 0;
//     left: 0;
//     padding: 10px 10px;
//     color: core.$primary;
// }

// &__logo img {
//     width: 50px;
//     background-image: url("assets/img/Copilot_20251106_193652.png");
// }

// &__logo a {
//     /* padding: 10px 10px; */
//     font-size: 1.2rem;
//     padding-right: 20px;
// }

// start-block Mobiles first
.header__login {
    font-weight: 500;
    font-size: 1.1rem;
    // LEARN - por defecto Mobile First. No se muestra
    display: none;

    @include respond(tablet) {
        display: flex;
    }

}

.header__login:hover {
    background-color: rgba(179, 51, 234, 0.729);
    color: white;
}

// end-BLOCK .header