@use "../core/" as core;
@use "../config/" as *;


.footer {
  width: 100%;
  background-color: core.$primary;

  &__container {
    @include container($container-widths);

    display: flex;
    justify-content: space-around;
    color: core.$beige;
    gap: 1rem;
    /* flex-wrap: wrap; */
    flex-direction: column;
    background-color: #0e0b12;
    background-color: core.$bg-alt-pri;
    color: var(--beige);
    text-align: center;

    // remove
    // background-color: lightseagreen;
  }

  &__logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
  }

  &__logo img {
    width: 90px;
    color: white;
  }

  &__container p {
    text-align: center;
    color: whitesmoke;
  }

  &__container h4 {
    text-align: start;
  }

  &__container ul li {
    text-align: left;
    text-align: start;
  }


}